.box{
    background-color: rgb(242, 242, 242);
    border-radius: 9px;
    margin-bottom: 20px;
    border:solid;
    border-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.scroll{
    overflow-y: auto;
    -ms-overflow-style: none; /*IE and Edge*/
    scrollbar-width: none; /*Firefox*/
}

/*For Chrome, Safari and Opera*/
.scroll::-webkit-scrollbar{
    display: none;

}

.box-header-container{
    display: flex;
    flex-direction: row;
}

.box-header{
    text-align: start;
    margin-left: 7px;
    width: 50%;
}

.poem-logo-container{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 17px;
}

.poem-logo{
    width: 18px;
    height: 25px;
}

.poem-box-item{
    background-color: white;
    border-radius: 5px;
    margin: 7px;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-auto-rows: min-content;
    grid-template-areas: 
        "title delete"
        "author ."
    ;
}

.poem-box-item > a{
    text-decoration: none;
    color: black;
}

.poem-title{
    grid-area: title;
    text-align: start;
    margin-left: 2%;
    cursor: pointer;
}

.poem-author{
    grid-area: author;
    text-align: start;
    margin-left: 2%;
    cursor: pointer;
}

.poem-delete{
    background-color: rgb(112, 112, 112);   
    height: 22px;
    width: 22px;
    border-radius: 6px;
    margin-top: 20%;
    justify-self: center;
    align-self: baseline;
    cursor: pointer;
}

.word-box-item{
    background-color: white;
    border-radius: 5px;
    margin: 7px;
    display: flex;
}

.word-logo{
    width: 28px;
    height: 28px;
}

.word-header-container{
    display: flex;
    flex-direction: row;
}

.word{
    text-align: left;
    margin-left: 7px;
    width: auto;
    cursor: pointer;
}

.phonetic{
    grid-area: phonetic;
    text-align: left;
    margin-left: 7px;
    cursor: pointer;
}

.word-delete-container{
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
}

.word-delete{
    background-color: rgb(112, 112, 112);   
    height: 22px;
    width: 22px;
    border-radius: 6px;
    margin-right: 7px;
    cursor: pointer;
    align-self: center;
}

.delete > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    width: 10px;
    height: 10px;
}
