
.mobile-show {
  display: none;
}

.logo {
  width: 72px;
  height: 72px;
  padding: 32px;
}

p {
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

.App {
  text-align: center;
}

.PoemContainer {
  grid-area: poem;
  padding: 20px;
  justify-self: flex-start;
  text-align: left;
}

#menuBar {
  grid-area: menu;

  background-color: #B8D9CC;
}

#header {
  grid-area: header;
  padding: 20px;

  text-align: left;
}

.savedLists {
  grid-area: saved;
}

/* Popover */

.popoverWrap {
  background-color: #E4D4B8;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
}

.popoverWrap ul {
  padding-inline-start: 20px;
}

.popoverWrap li {
  list-style-type: none;
}

.popoverWrap h4 {
  margin-block-start: 0.5em;
  margin-block-end: 0px;
}

.popoverWrap h5 {
  margin-block-end: 0px;
}

/* Buttons */

.btn{
  background-color: rgba(49, 89, 73, 1) !important;
  color: white !important;
  border-radius: 6px !important;
  width: 119px !important;
  height: 42px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 21px !important;
  border: none !important;
  /*  font-family: Georgia; */
  margin: 10px !important;
}

.btn:focus{
  outline: none !important;
  border: none !important;
}


/* Mobile */
@media screen and (max-width: 900px) {

  .App {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto auto auto auto;
    grid-template-areas:
      "menu"
      "poem"
      "saved";
  }

  #menuBar {
    display: box;
    position: sticky;
    top: 0px;
    padding: 10px 0px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    vertical-align: middle;
    align-items: center;
    position: relative;
  }

  #dropdown-list{
    background-color: white !important;
    color:rgba(49, 89, 73, 1) !important;
    border: none !important;
    outline: none !important;
    float: right;


  }

  #title{
    float: left;
    color:rgba(49, 89, 73, 1);
    
  }


.mobile-show {
  display: block;
  margin-left: auto; 
  margin-right: 0;
}

.logo-mobile{
  width: 120px;
  height: 120px;
  padding: 32px;
  grid-area: logo;
}


#header {
  display: none;
}

}

/* Tablet */
@media screen and (min-width: 901px) {

  .App {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 100px auto auto auto;
    grid-template-areas:
      "menu header"
      "menu poem"
      "menu saved";
  }

  #menuBar {
    position: sticky;
    top: 0;
    height: 100vh;
  
  }

}

/* Desktop */
@media screen and (min-width: 1300px) {

  .App {
    display: grid;
    grid-template-columns: 200px 4.5fr 3fr 3.5fr;
    grid-template-rows: 100px 1fr auto;
    grid-template-areas:
      "menu header header header"
      "menu poem dictionary saved"
      "menu poem dictionary overflow";
  }

  #menuBar {
    position: sticky;
    top: 0;
    height: 100vh;
  }

}