
.mobile-show, .fab-container {
  display: none !important;
}

.logo {
  width: 72px;
  height: 72px;
  padding: 32px;
}

p {
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

.App {
  text-align: center;
}

.PoemContainer {
  grid-area: poem;
  padding: 20px;
  justify-self: flex-start;

  text-align: left;
}

#menuBar {
  grid-area: menu;

  background-color: #B8D9CC;
}

#header {
  grid-area: header;
  padding: 20px;

  text-align: left;
}

.list-container{
  grid-area: saved;
}

/* Popover */

.popoverWrap {
  background-color: #E4D4B8;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
}

.popoverWrap ul {
  padding-inline-start: 20px;
}

.popoverWrap li {
  list-style-type: none;
}

.popoverWrap h4 {
  margin-block-start: 0.5em;
  margin-block-end: 0px;
}

.popoverWrap h5 {
  margin-block-end: 0px;
}

/* Buttons */

.btn-container{
  display: flex;
}

.btn{
  background-color: rgba(49, 89, 73, 1);
  color: white;
  border-radius: 6px;
  width: 119px;
  height: 42px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  border: none;
  /*  font-family: Georgia; */
  margin-right: 10px;
}

.menu-btn{
  display: none;
}


/* Mobile */
@media screen and (max-width: 900px) {

  .App {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto auto auto auto;
    grid-template-areas:
      "menu"
      "poem"
      "saved";
    margin-bottom: 90px;
  }

  #menuBar {
    display: flex;
    align-items: center;
  }

  .mobile-show {
    display: initial !important;
  }

  .fab-container {
    display: flex !important;
  }

  #header {
    display: none;
  }

  .box{
    margin-right: auto !important;
    margin-left: auto;
    width: 90%; 
  }

}

/* Tablet */
@media screen and (min-width: 901px) and (max-width: 1299px) {

  .App {
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas:
      "menu header header"
      "menu poem saved";
  }

  #menuBar {
    position: sticky;
    top: 0;
    height: 100vh;
  }

  .list-container{
    height: 80vh;
    grid-area: saved;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    position: sticky;
    top: 5%;
  }

  .box{
    max-height: 40vh;
  }

  .menu-btn{
    display: block;
  }

  .btn-container{
    display: none;
  }

  .btn{
    margin-bottom: 10px;
  }

}

/* Desktop */
@media screen and (min-width: 1300px) {

  .App {
    display: grid;
    grid-template-columns: 200px 4.5fr 1fr 4.5fr;
    grid-template-rows: 100px 1fr auto;
    grid-template-areas:
      "menu header header header"
      "menu poem dictionary saved"
      "menu poem dictionary overflow";
  }

  #menuBar {
    position: sticky;
    top: 0;
    height: 100vh;
  }

  .list-container{
    grid-area: saved;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .box{
    position: sticky;
    top: 5%;
    width: 400px;
    max-height: 600px;
  }

}